<meta charset="utf-8">
<link href="{{ page.url | absolute_url }}" rel="canonical">
<!-- Primary Meta Tags -->
<title>{% if page.meta_title %} {{ page.meta_title }} {% elsif page.title %} {{ page.title }} {% else %} {{ site.data.theme.title }}{% endif %}</title>
<meta name="title" content="{% if page.meta_title %} {{ page.meta_title }} {% elsif page.title %} {{ page.title }} {% else %} {{ site.data.theme.title }}{% endif %}">
<meta name="description" content="{% if page.meta_description %} {{ page.meta_description }} {% elsif page.description %} {{ page.description}} {% else %}
         {{ site.data.theme.description }}{% endif %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta content="{{ page.url | absolute_url }}" property="og:url">
<meta property="og:title" content="{% if page.meta_title %} {{ page.meta_title }} {% elsif page.title %} {{ page.title }} {% else %} {{ site.data.theme.title }}{% endif %}">
<meta property="og:description" content="{% if page.meta_description %} {{ page.meta_description }} {% elsif page.description %} {{ page.description}} {% else %}
    {{ site.data.theme.description }}{% endif %}">
{% if page.image %}
<meta content="{{ page.image | absolute_url }}" property="og:image"/>
{% elsif site.data.theme.meta_og_image %}
<meta content="{{ site.data.theme.meta_og_image | absolute_url }}" property="og:image"/>
{% endif %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta content="{{ page.url | absolute_url }}" property="twitter:url">
<meta property="twitter:title" content="{% if page.meta_title %} {{ page.meta_title }} {% elsif page.title %} {{ page.title }} {% else %} {{ site.data.theme.title }}{% endif %}">
<meta property="twitter:description" content="{% if page.meta_description %} {{ page.meta_description }} {% elsif page.description %} {{ page.description}} {% else %}
    {{ site.data.theme.description }}{% endif %}">
{% if page.image %}
<meta content="{{ page.image | absolute_url }}" property="twitter:image"/>
{% elsif site.data.theme.meta_twitter_image %}
<meta content="{{ site.data.theme.meta_twitter_image | absolute_url }}" property="twitter:image"/>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
        async
        src="https://widgets.givebutter.com/latest.umd.cjs?acct=U9YgsCTi8ATtqSCG&p=other"
></script>
